html, body
{
    height: 100%;
}

body
{
    background: #f9f9f9;
    /*color: #141823;*/
    color: #eee;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}

h2
{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1.75rem 0 0.25rem 0;
}

a:link, a:active, a:visited
{
    color: #2dafff;
    text-decoration: none;
}

a:hover
{
    color: #141823;
}

.app-container
{
    flex: 1;
}

.app-fullscreen-image
{
    align-items: center;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.app-fullscreen-image > h1
{
    color: #eee;
    font-family: 'Oleo Script', cursive;
    font-size: 20vw;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    text-shadow: 0.3rem 0.3rem 0.5rem #141823;
    width: 100%;
}

/* HEADER
*/

.app-header
{
    background-color: #141823;
    color: #eee;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.app-header nav
{
    margin: 0 auto;
}

.app-header nav ul
{
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.app-header a:link, .app-header a:visited, .app-header a:active
{
    color: #eee;
    text-decoration: none;
}

.app-header .logo
{
    transition: all 0.8s;
}

.app-header .logo > h1
{
    font-family: 'Oleo Script', cursive;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
}

.app-header nav ul li a
{
    display: block;
    line-height: 2.5;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.8s;
}

.app-header li a:hover
{
    background-color: #363636;
}

.app-header .logo:hover
{
    background-color: #141823;
    color: #2dafff;
}

/* BODY
*/

.app-body
{
    margin: 0;
    /*background-color: #b71c34;*/
    width: 100%;
}

.app-body-full-width
{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 !important;
    padding: 3rem 0;
    width: 100%;
}

.app-body-content
{
    margin: 0 auto;
    max-width: 130rem;
    width: 80%;
}

.hero p
{
    color: #eee;
    font-size: 1.5rem;
    text-align: center;
}

.app-body-full-width h2
{
    color: #f1f1f1;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0 black;
    text-transform: uppercase;
}

.app-body-full-width p
{
    color: #eeeeee;
}

.hero
{
    background-color: #2dafff;
}

.about
{
    background-color: #E35F3D;
}

.contact
{
    background-color: #138D82;
    text-align: center;
}

.contact h3
{
    color: #eee;
    margin: 2rem 0 0.25rem 0;
    text-transform: uppercase;
}

.contact p
{
    margin: 0.25rem 0;
}

.vehicles
{
    background-color: #3D162F;
}

.vehicles h2
{
    margin-bottom: 2rem;
}

/* FOOTER
 */

.app-footer
{
    background-color: #A0735C;
    box-sizing: border-box;
    color: #f9f9f9;
    width: 100%;
}

.app-footer p
{
    font-size: 1rem;
    padding: 4rem 2rem 4rem 2rem;
}

.app-footer a:link, .app-footer a:active, .app-footer a:visited
{
    color: #441834;
    text-decoration: none;
}

.app-footer a:hover
{
    color: #fff;
}




.app-body table
{
    border-collapse: collapse;
    width: 100%;
}

.app-body table thead
{
    text-align: left;
}

.app-body table tr td, .app-body table tr th
{
    padding: 0.5rem 0.25rem;
}

.app-body table tr:nth-child(odd) td
{
    background-color: #eeeeee;
}

.app-body-vehicles
{
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.app-body-vehicles-item
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
}

.app-body-vehicles-item:nth-child(4n-3)
{
    background-color: #852F65;
}

.app-body-vehicles-item:nth-child(4n-2)
{
    background-color: #441834;
    
}

.app-body-vehicles-item:nth-child(4n-1)
{
    background-color: #63234C;
}

.app-body-vehicles-item:nth-child(4n)
{
    
    background-color: #75295A;
}

.app-body-vehicles-item h3
{
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 0 0.5rem;
    margin: 0.25rem 0 0.125rem 0;
}

.app-body-vehicles-item div:first-of-type
{
    padding-top: 1rem;
}

.app-body-vehicles-item p
{
    margin: 0;
    padding: 0 0.5rem 0.5rem 0.5rem;
    word-break: break-all;
}

.app-body-vehicles-item div:last-of-type
{
    padding-bottom: 1rem;
}


.app-body-vehicles-item-image
{
    
    background-position: center center;
    background-size: cover;
    /*
    height: 125px;
*/
    height: 20vh;
    overflow: hidden;
    transition: 0.8s opacity;
}

.clearfix:after
{
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

/* UTILS
*/

/* close commented backslash hack */

.bold
{
    font-weight: bold;
}

/* MEDIA QUERIES
*/

@media all and (max-width: 50rem)
{
    .app-body-gallery .app-body-gallery-item
    {
        width: 50%;
    }

    .app-body-news-item
    {
        width: 100%;
    }

    .app-header nav ul
    {
        justify-content: space-around;
    }

    .app-header .logo > h1
    {
        justify-content: flex-start;
    }

    .app-body-vehicles-item
    {
        width: 50%;
    }
}

@media all and (max-width: 37.5rem)
{
    .app-body-full-width p
    {
        padding: 0 0.5rem;
    }

    .app-body-gallery .app-body-gallery-item
    {
        width: 100%;
    }

    .app-body-news-item
    {
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .app-header nav, .app-body, .app-footer
    {
        width: 100%;
    }

    .app-header nav ul
    {
        flex-flow: column wrap;
        padding: 0;
    }

    .app-header nav ul li a
    {
        border-bottom: 1px solid #000000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid #ffffff;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px;
        text-align: center;
    }

    .app-header nav ul li:last-of-type a
    {
        border-bottom: none;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr
    {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr
    {
        left: -9999px;
        position: absolute;
        top: -9999px;
    }

    tr
    {
        border: 1px solid #ccc;
    }

    td
    {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        padding-left: 50% !important;
        position: relative;
    }

    td:before
    {
        font-weight: bold;
        left: 6px;
        padding-right: 10px;
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        white-space: nowrap;
        width: 45%;
    }

    td:nth-of-type(1):before
    {
        content: "Namn";
    }

    td:nth-of-type(2):before
    {
        content: "Befattning";
    }

    td:nth-of-type(3):before
    {
        content: "Telefonnummer";
    }

    td:nth-of-type(4):before
    {
        content: "Epost";
    }

    .app-body-vehicles-item
    {
        width: 100%;
    }

    .app-body-vehicles-item dl
    {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 0.5rem;
    }
}